::ng-deep .container {
    width: 100% !important;
}

* {
    box-sizing: border-box;
    font-family: 'Recoleta' !important;
}

.hero_section {
    background-image: radial-gradient(28% 81% at 48% 43%, #186B78 -37%, #1B234B 59%, #040217 183%, transparent 255%);
    color: #FFFFFF;
    background-color: black;
}

.hero_logo {
    width: 50% !important;
    vertical-align: middle;
    font-size: 32px !important;
    font-weight: bolder !important;
}

.hero_logo img {
    height: 82% !important;
    width: auto;
    justify-content: end;
    align-items: center;

}

.hero_text {
    width: 50% !important;
    text-align: end;
    font-family: 'Oldschool Grotesk' !important;

}

.hero_text label {
    padding-right: 16px !important;
    font-weight: 600 !important;
}

.header_conatiner {
    width: 100%;
    display: flex !important;
    padding: 2rem !important;
}

.hero_container {
    width: 100% !important;
    display: flex;

}

.hero_container-txt {
    width: 39% !important;
    display: grid !important;
    align-items: center !important;

}

.hero_container-txt label {
    padding: 2rem !important;
}

.container_txt {
    font-size: 96px !important;
    line-height: 104px;
    
    
}

.container_txt-1 {
    color:rgba(203, 211, 223, 0.80);;
    width: 75% !important;
    font-size: 20px !important;
    
}

.hero_btn {
    width: 24% !important;
    padding: 10px !important;
    border-radius: 12px !important;
    border-image: linear-gradient( 10deg, #29D5D9, #5C83FA , #7361EC , #484B6D) 20;
    background-color: #0F0B2B;
    color: #ffffff;
    animation: borderblueanim 2s infinite;
}
@keyframes borderblueanim {
    from {
      stroke-dashoffset: 800;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
.hero_container-img {
    width: 60% !important;
    text-align: end !important;
}

.sponser {
    padding: 4rem;
}

.sponser_conatiner {
    text-align: center;
}

.txt {
    padding-bottom: 10px;
    font-size: 20px !important;
    font-weight: 400;
}

.logo {
    padding-top: 10px !important;
}

.Problem_container {
    display: grid !important;
    text-align: center !important;
}

.Problem_container label {
    font-size: 65px !important;
    font-weight: 400 !important;

}

.Problem_container-1 {
    justify-content: center;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center
}

.Problem_container-1 p {
    width: 38% !important;
    color: #95A1B4;
    font-weight: 400 !important;
    font-size: 17px !important;
    line-height:25px !important;
}

.card {
    height: auto !important;
    margin-right: 14px !important;
}

.solution_txt {
    display: grid !important;
    text-align: center !important;
}

.prd_container {
    padding: 3rem 0rem !important;
}

.prb_head-conatiner {
    background: linear-gradient(90deg, #08041B -7%, #132E48 50%, #08041B, transparent 150%);
    color: white;
}

.feature_head-conatiner {
    background: linear-gradient(to right, #08041B, #132844, #08041B 116%, transparent);
    color: white;
}

.protocal_head-conatiner {
    background: linear-gradient(to bottom, #0C0A26 100%, transparent);
    color: white;
}

.testimonal_head-conatiner {
    background: linear-gradient(to top, #060419 100%, transparent 100%);
    color: white;
}

.footer_head-conatiner {
    background: #16171C;
    color: white;
}

.rows {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 210px !important;
}

.card-1 {
    max-width: 20%;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
    border-color: red;
    background-image: linear-gradient(-2deg, #B7444D -41%, #1B1E29);
    border-top-right-radius: 14px !important;
    border-top-left-radius: 14px !important;

}

.card-text {
    font-family: "Inter", sans-serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.card-body {
    display: flex !important;
    align-items: center !important;
    color: white !important;
    padding: 6px 10px !important;
}

.card-header {
    background-color: #B7444D;
    color: #FFFFFF;
    border-top-right-radius: 14px !important;
    border-top-left-radius: 14px !important;

}
.card-header label{
    font-family: "Inter", sans-serif !important;
    color: #EBF7FD;
    font-size: 24px !important;
    font-weight: 500 !important;
}

.rows::-webkit-scrollbar {
    display: none;
}

.card-2 {
    border: 1px solid gray;
    max-width: 20%;
    max-height: 50%;
    background-color: transparent;

}

.card-2 svg {
    width: 50%;
    text-align: center;
    padding: 1.8rem;
    height: auto;
    margin-left:  5rem;
}

.card-2 label {
    color: #ffffff;
    margin-left: 14px !important;
    font-size: 24px;
    font-weight: 400;
    
}

.card_text-2 {
    color: #F6F6F4A3;
    font-size: 16px !important;
    font-weight: 400 !important;
    font-family: "Inter", sans-serif !important;
    line-height: 32px !important;
}

.circle {
    position: relative;
    overflow: hidden;
}

.circle:before {
    content: "";
    position: absolute;
    width: 141%;
    height: 228%;
    border-radius: 74%;
    box-shadow: 24px -26px 295px -6px #254486;
    top: 58%;
    left: -21%;
    background-color: #0D0E16;
}

.card-3 {
    max-width: 9%;
    max-height: 50%;
    border: 0.8px solid black;

}

.hr_line {
    margin: 0rem 2rem;
    background-image: linear-gradient(to right, #448AFF, #448AFF, #12E6C8, #12E6C8);
    border: none;
}

.card-title-3 {
    text-align: center;
    color: #FFFFFF;
}

.card-title-3 .card-title {
    font-size: 40px;
}

.card_text-3 {
    width: 100%;
    text-align: center;
    color: #A7ABB9;
    font-size: 24px;
    font-family: 'Oldschool Grotesk' !important;

}

.card-4 {
    border: 1px solid gray;
    max-width: 70%;
    max-height: 50%;
    background-color: #17142A;

}

.card-4_container {
    width: 100%;
    color: #FFFFFF;
    display: flex;
    padding: 3rem !important;
}

.card-4_container-img {
    width: 34%;
}

.card-4_container-txt {
    width: 100%;
}

.card-4_container-txt p {
    line-height: 3rem;
    font-weight: 400;
    font-size: 28px;
}

.footer_contents {
    padding: 3rem !important;
}

ul {
    list-style-type: none;
}

.list_hrader {
    color: #F6F6F4;
    font-weight: 500;
    font-size: 16px;
}

li {
    color: rgba(246, 246, 244, 0.64);
    padding-bottom: 1rem !important;
}

.socialMedia-icon {
    padding-left: 1rem;
    font-size: 3rem;
}

input[type="text"] {
    background-color: rgba(31, 33, 38, 1);
}
.mobile_layout{
    visibility: hidden;
    display: none;
}
.computer_layout{
    visibility:visible !important;
    display: block;
}
.sln_conatiner{
     justify-content: center;
     padding: 10px 0px !important;
}
.eco_sys{
    --bs-gutter-x: 0;
    text-align: center;
    align-items: center;
    padding: 12px;
}
.proto_img{
    font-weight: 400 !important;
    font-size: 30px !important;
}
.hero_btn :hover{
    background-image: linear-gradient( 10deg, #29D5D9, #5C83FA , #7361EC , #484B6D) 20;
}
// for mobile
@media screen and (min-device-width : 100px) and (max-device-width : 480px) {
    .header_conatiner{
        padding: 1rem !important;
    }
    .hero_section{
        background-image:linear-gradient(black ,transparent) !important ;
    }
    .mobile_layout{
        visibility: visible;
        display: block;
    }
    .computer_layout{
        visibility:hidden !important;
        display: none;
    }
    .hero_container{
        display: contents !important;
    }
    .hero_container-txt{
        width: 100% !important;
    }
    .container_txt{
        font-size: 2rem !important;
    }
    .container_txt-1{
        width: 100% !important;
    }
    .hero_btn{
        width: 50% !important;
    }
    .hero_container-img{
        width: 100% !important;
    }
    .hero_container-img img{
        width: 100% !important;
    }
    .sponser {
        padding: 1rem !important;
    }
    .prd_container{
        padding: 0rem !important;
    }
    .Problem_container label{
        font-size: 30px !important;
    }
    .Problem_container-1 p{
        width: 100% !important;
    }
    .card-1{
        max-width: 34% !important;
    }
    .card-2{
        max-width: 84% !important;
        margin-bottom: 10px !important;
    }
    .sln_conatiner{
        margin-left: 0rem !important; padding: 0px 0px !important;
    }
    .card-3{
        max-width: 45% !important;
    }
    .card-title-3{
        font-size: 36px !important;
    }
    .proto_img{
        text-align: center !important;
        margin-bottom: 14px !important;
    }
    .proto_img p{
        font-size: 14px !important;
    }
    .card-4{
        max-width: 84% !important;
    }
    .card-4_container{
        display: block !important;
        padding: 0rem !important;
    }
    .card-4_container-txt{
        font-size: 20px !important;
    }
    .circle:before {
        height: 87% !important;
        top: 72% !important;
    }
    .card-text{
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .card-header label{
        font-size: 18px !important;
    }
    .card-4_container-txt p {
        font-size: 16px !important;
        line-height: 28px !important;
    }
    .card-2 label{
        font-size: 18px !important;
    }

}

